@import "@material/card/mdc-card";

.roll{
    &-card{
        &__primary{
            padding: 1rem;
            display: flex;
            justify-content: space-between;
        }

        &__action-icons{
            justify-content: space-evenly;
            &--like{
                color: green;
            }
            &--dislike{
                color: red;
            }
        }

        &__share{
            text-align: end;
        }
    }
}